@import "node_modules/ol/ol.css";

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.control-container {
    list-style-type: none;
    padding: 40px;
    width: 50%;
    box-sizing: border-box;
}

.custom-control {
    position: relative;
    font-size: 3rem;
    z-index: 1;
    padding: 5px;
    margin: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: green;
    text-shadow: -4px 4px 10px gray;
    transition: 0.3s;
}

.custom-control:hover {
    text-shadow: -5px 5px 15px green;
    cursor: pointer;
}

.destination-modal {
    z-index: 2;
    position: absolute;
    display: flex;
    right: 20px;
    bottom: 20px;
    width: 50%;
    height: fit-content;
    z-index: 2;
    background-color: antiquewhite;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    overflow: hidden;
}

.destination-modal h2 {
    margin: 0;
}

.footer-group {
    left: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    transition: 0.3s;
}

.footer-button {
    z-index: 3;
    position: relative;
    width: 30px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 100px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    transition: 0.3s;
}

.footer-button h1 {
    font-size: 1rem;
    margin: 5px;
}

.footer-button:hover {
    box-shadow: -5px 5px 15px black;
    cursor: pointer;
}

.footer-box {
    z-index: 3;
    padding: 5px;
    position: relative;
    display: flex;
    background-color: aquamarine;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.footer-box h2 {
    font-size: 2rem;
    margin: 5px;
    white-space: nowrap;
}

.footer-box a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.footer-visible {
    bottom: 20px;
}

.footer-hidden {
    bottom: -60px;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.75s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.75s, opacity 0.75s linear;
}